* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--main-color: #1498a7;
	--secondary-color: #fab415;
	--font-family: 'Poppins', sans-serif;
	--font-size: 14px;
	--white: #ffffff;
	--text-warning: #ffc107;
	--text-success: #28a745;
	--text-primary: #007bff;
	--text-danger: #dc3545;
	--black: #000000;
	--danger: red;
	--center: center;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

a {
	color: var(--black);
}

a:hover {
	color: var(--main-color);
}

h2,
h3 {
	font-weight: 700;
}

h4 {
	font-weight: 600;
}

.white {
	color: var(--white) !important;
}

.text-warning {
	color: var(--text-warning) !important;
}

.text-success {
	color: var(--text-success) !important;
}

.text-primary {
	color: var(--text-primary) !important;
}

.text-danger {
	color: var(--text-danger) !important;
}

.black {
	color: var(--black);
}

.center {
	text-align: var(--center) !important;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}

.navbar .active {
	color: var(--main-color) !important;
}

.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}

.navbar .nav-item a {
	color: var(--secondary-color);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}

.navbar .nav-item a:hover {
	color: var(--main-color);
}

.navbar .nav-link {
	position: relative;
	padding: 0;
}

.navbar .navbar-toggler {
	cursor: pointer;
}

.navbar .navbar-toggler span {
	color: var(--main-color);
}

fieldset {
	height: auto;
	width: 100%;
	padding: 20px !important;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(74, 161, 194, 0.4);
}

.banner {
	background: var(--secondary-color);
	background: linear-gradient(to left, #e1dccf, rgb(74, 161, 194));
	padding: 100px 0px;
	position: relative;
}

.banner::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(/static/img/pattern.png);
}

.banner a:hover {
	text-decoration: none;
}

.svg-wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.banner-text {
	padding-right: 80px;
	margin: 50px 0px 0px;
}

.banner-text p {
	margin: 40px 0px;
}

.banner-text ul {
	list-style: none;
}

.banner-text ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

.banner-text ul li a {
	display: block;
}

.banner-text ul li a img {
	width: 150px;
	border-radius: 7px;
}

.section-padding {
	padding: 80px 0px;
}

.sectioner-header {
	width: 69%;
	margin: 0 auto;
}

.marging {
	margin-bottom: 16px;
}

.remender {
	color: #ce1111;
}

.complete {
	background-color: rgb(30, 29, 29);
}

.dis {
	display: none !important;
}

.line {
	height: 2px;
	width: 50px;
	background: var(--main-color);
	display: block;
	margin: 20px auto 20px;
}

.line::after {
	content: "";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed var(--main-color);
	margin-left: -75px;
}

.lines {
	height: 2px;
	width: 100%;
	background: #fff;
	display: block;
	margin: 10px auto 10px;
}

.lines::after {
	content: "";
	position: absolute;
	width: 150px;
	height: 2px;
	margin-left: -75px;
}

.sectioner-header p {
	color: #818992;
	font-size: 17px;
}

.section-content {
	margin-top: 20px;
}

.media-right-margin {
	margin-right: 25px;
}

#card_form .form-input {
	border: 1px solid#e4e4e4;
}

input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 0;
}

input,
select {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	transition: all 0.3s ease-in-out;
	border: 0;
}

/* Radio button styles */
.priority-options label {
	display: inline-flex;
	align-items: center;
	margin-right: 1rem;
}

.priority-options input[type="radio"] {
	margin-right: 0.5rem;
}

.color {
	color: var(--main-color);
}
.error-message{
	color: var(--danger);
}
.btn-grad {
	padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: var(--secondary-color);
	background: linear-gradient(to left, var(--secondary-color), #1498a7);
	cursor: pointer;
}
.btn-grad:hover {
	padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: var(--secondary-color);
	background: linear-gradient(to left, rgb(250, 180, 21, 0.7), rgb(20, 152, 167, 0.7));
	cursor: pointer;
}

.btn-edit {
	padding: .7rem 1.5rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: #08a973;
	cursor: pointer;
}
.btn-edit:hover {
	padding: .7rem 1.5rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: rgba(8, 169, 115, 0.7);
	cursor: pointer;
}

.btn-delete {
	padding: .7rem 1.5rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: #dc1212;
	cursor: pointer;
}
.btn-delete:hover {
	padding: .7rem 1.5rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: rgba(220, 18, 18, 0.7);
	cursor: pointer;
}

.card-info {
	padding: 2rem 2rem 1rem;
	border-radius: 8px;
	background: var(--secondary-color);
	background: linear-gradient(to left, var(--secondary-color), #1498a7);
}

.card {
	padding: 3rem 1rem 0.5rem;
	border-radius: 10px;
	border: 2px solid #f0fafb;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card-item {
	margin: 10px 0px;
}

.card-item i {
	font-size: 15px;
}

.card-item p {
	line-height: 20px;
	margin: 0;
}

.footer-copy {
	background: #ffffff;
	color: #242424;
	font-size: 13px;
	text-align: center;
	padding: 15px 0px;
}

.footer-copy p {
	margin-bottom: 0px;
}

@media all and (max-width:991px) {
	.navbar .navbar-collapse {
		overflow: auto;
		background: var(--main-color);
		color: #fff !important;
		text-align: center;
		padding: 10px 0;
	}

	#card_form {
		margin-bottom: 20px;
	}
}

@media all and (max-width:768px) {

	
	.navbar-brand img {
		transform: scale(0.75) !important;
		-webkit-transform: scale(0.75) !important;
	}

	.banner-text {
		padding-right: 0px;
		margin: 10px 0px 0px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 23px;
	}

	.section-padding {
		padding: 40px 0px;
	}

	.banner-text p {
		margin: 25px 0px;
	}

	.banner-text ul li a img {
		width: 140px;
		border-radius: 7px;
	}

	.sectioner-header {
		width: 90%;
	}

	.sectioner-header p {
		font-size: 14px;
	}

	.section-content {
		margin-top: 40px;
	}

	#card_form {
		margin-bottom: 20px;
	}

	.card-item {
		font-size: 12px;
	}

	.footer-copy p {
		font-size: 10px;
	}
}

