{% extends "base.html" %}
{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container"> <a class="navbar-brand navbar-logo" href="{{ url_for('index') }}"> <img src="/static/img/logos.png" alt="logo" ِ/
    class="logo-1"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
        class="fas fa-bars"></span> </button>
   
  </div>
</nav>

<section class=" section-padding" data-scroll-index='6'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectioner-header text-center">
          <h3>Sign In</h3>
          <span class="line"></span>
          <p>Welcome to the login screen. Please enter a valid email and password
            If you do not have an account, please click on the link below to create an account.</p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="alert">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
        <div class="section-content">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <fieldset>
                <form id="login_form"  action="http://127.0.0.1:5000/login/user" method="POST">
  
                <input type="email" id="email" class="form-input w-100" name="email" placeholder="Email" required>
                  
                <input type="password" id="password" class="form-input w-100" name="password" placeholder="Password" required>
                <button class="btn-grad w-100 text-uppercase" type="submit" name="button">Login</button>
              </form>
            </fieldset>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="card-info white">
                <div class="card-item media"> <i class="fa fa-check media-left media-right-margin"></i>
                  <div class="media-body">
                    <p class="text-uppercase">Check your Information</p>
                  </div>
                </div>
                
                <div class="card-item media"> <i class="fa fa-envelope media-left media-right-margin"></i>
                  <div class="media-body">
                    <p class="text-uppercase">E-mail</p>
                  </div>
                </div>
                <div class="card-item media"> <i class="fa fa-key media-right-margin"></i>
                  <div class="media-body">
                    <p class="text-uppercase">Password</p>
                  </div>
                </div>
                <div class="card-item media"> <i class="fa fa-user-plus media-right-margin"></i>
                  <div class="media-body">
                    <p class="text-uppercase">To Create an Account click <a href="{{ url_for('register') }}">here</a> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

